._border-green:focus
{
    border-color: green;
    box-shadow: none;
}
._border-green
{
    border-color: green;
    box-shadow: none;
}
._remove_inline
{
    padding-bottom: 10%;
}
._remove_inline div{
    display: block !important
}
.menu{
    border-radius: 10px;
    padding: 5px;
    max-height: 200px;
    overflow: auto;
    width: 100%;
}