.bt-table{
    background-size: 30px ;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
}

.bt-delete{
    background-image: url(../../../img/trash.png);
    background-color: #b52e3b;
    color: white;
}

.bt-edit{
    background-image: url(../../../img/edit.png);
    background-color: #4597a5;
}
