.welcome {
    top: 50%;
    font-size: 10vw;
    font-weight: bolder;
    color: dimgrey;
    text-shadow: darkgray 0 0 0.3em;
    width: 100%;
    display: flex;
    position: fixed;
    align-content: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-100px);

}

body {
    background-color: whitesmoke;
}