.SearchBox {
    width: 90%;
}

.SearchBox-input {
    width: 80% !important;
    height: 40px;

}

.MainTitle {
    padding-left: 20%;

}

.bottomline {
    margin-top: 0.5%;
    margin-bottom: 5px;
    padding-right: 10px;
}

.SearchIcon {
    background-image: url("../img/search.png");
    background-size: 30px ;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 45px !important;
}
.custom-select {
    margin-left: 5px;
    margin-right: 5px;
}

.button-add {
    position: relative;
    left: 50px;
}

.content-info {
    margin-bottom: 10px;
    height: 30px;
}
