/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    display: flex;


}

.load-image {
    position: fixed;
    height: 40%;
    display: block;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}