.alinha{
    text-align: center;
}

.sortHead {
    background-image: url("../img/sort.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% center;
}

.headerCommon {
    width: 10%;
}

.table {
    table-layout: fixed;
}

.customer {
    width: 35%;
}

.city {
    width: 71%;
}