.alinha{
    text-align: center;
}

.bt-delete{
    background-image: url(../img/trash.png);
    background-color: #b52e3b;
}

/* .bt-edit{
    background-image: url(../img/edit.png);
    background-color: #4597a5;
} */

.bt-table{
    background-size: 30px ;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 40px;
}
.sortHead {
    background-image: url("../img/sort.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% center;
}
