.page-item.active ._pagination-active {
    background-color: #21252a;
    border-color: #21252a;
}

.page-item ._page-link {
    color:#21252a;
}

.page-item ._page-link:focus {
    box-shadow:none;
}

.arrows {
    height: 20px;
    width: 20px;
}

.footer {
    display: flex;
    align-content: center;
    margin: 0 auto;
}
