.welcome {
    transition: 0.3s;
    font-size: 10vw;
    font-weight: bolder;
    color: dimgrey;
    text-shadow: darkgray 0 0 0.3em;
    width: 100%;
    display: flex;
    position: relative;
    margin: 12% auto auto 0;
    align-content: center;
    align-items: center;
    justify-content: center;
}

body {
    background-color: whitesmoke;
}

.home-image {
    position: fixed;
    top: 46.5%;
    left: 10%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    max-width: 100%;


}